@import controllers.character.routes._

@(character: protobuf.character.Character, routines: List[protobuf.routine.RoutineId])

@Pages.main {
    @Pages.row1 {
        @table(character :: Nil) {
            <tr>
                <td></td>
                <td>@Components.text(id = "name", getter = "nameValue", placeholder = "character name", default = character.name)</td>
                <td>@Components.select(id = "routine", getter = "routineValue", values = routines.map(_.id))</td>
                <td>
                    @Apis.button.update(CharacterController.set) {
                        {
                            'id': '@character.getId.id',
                            'name': nameValue(),
                            'routine': routineValue()
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>@Components.text(id = "id", getter = "idValue", placeholder = "character id")</td>
                <td></td>
                <td>
                    @Apis.button.copy(CharacterController.set) {
                        {
                            'id': idValue(),
                            'name': nameValue(),
                            'routine': routineValue()
                        }
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Apis.button.delete(CharacterController.delete(character.getId.id))
                </td>
            </tr>
        }
    }
}
