@(characters: List[protobuf.character.Character], routines: List[protobuf.routine.RoutineId])

@Pages.main {
    @Pages.row1 {
        @table(characters) {
            <tr>
                <td>@Components.text(id = "id", getter = "idValue", placeholder = "character id")</td>
                <td>@Components.text(id = "name", getter = "nameValue", placeholder = "character name")</td>
                <td>@Components.select(id = "routine", getter = "routineValue", values = routines.map(_.id))</td>
                <td>
                    @Apis.button.create(controllers.character.routes.CharacterController.set) {
                        {
                            'id': idValue(),
                            'name': nameValue(),
                            'routine': routineValue()
                        }
                    }
                </td>
            </tr>
        }
    }
}
