@import protobuf.core._

@(value: Option[NamedAttributes])

@a(f: Attributes => Long) = @{ value.map(v => f(v.getAttributes)).getOrElse(0L) }

<td>@Components.enum(id = "name", getter = "nameValue", enum = Name)</td>
<td>@Components.number(id = "hp", getter = "hpValue", default = a(_.hp))</td>
<td>@Components.number(id = "tp", getter = "tpValue", default = a(_.tp))</td>
<td>@Components.number(id = "str", getter = "strValue", default = a(_.str))</td>
<td>@Components.number(id = "vit", getter = "vitValue", default = a(_.vit))</td>
<td>@Components.number(id = "int", getter = "intValue", default = a(_.int))</td>
<td>@Components.number(id = "wis", getter = "wisValue", default = a(_.wis))</td>
<td>@Components.number(id = "agi", getter = "agiValue", default = a(_.agi))</td>
<td>@Components.number(id = "luc", getter = "lucValue", default = a(_.luc))</td>
