@import protobuf.core._

@(values: List[NamedAttributes], get: String => play.api.mvc.Call)(html: Html)

<table class="table table-striped">
    <tr>
        <th>name</th>
        <th>hp</th>
        <th>tp</th>
        <th>str</th>
        <th>vit</th>
        <th>int</th>
        <th>wis</th>
        <th>agi</th>
        <th>luc</th>
    </tr>

    @html

    @for(value <- values) {
        <tr>
            <td><a class="label label-primary" href="@get(value.name.name)">@value.name.name</a></td>
            @defining(value.getAttributes) { a =>
                <td>@a.hp</td>
                <td>@a.tp</td>
                <td>@a.str</td>
                <td>@a.vit</td>
                <td>@a.int</td>
                <td>@a.wis</td>
                <td>@a.agi</td>
                <td>@a.luc</td>
            }
        </tr>
    }
</table>
