@(html: Html)

@dropdown(a: String)(li: Html) = {
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@a <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @li
        </ul>
    </li>
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/footer.css")">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.MainController.index">
                        <img style="height:20px; width:20px" alt="Brand" src="@routes.Assets.at("images/favicon.ico")">
                    </a>
                    <p class="navbar-text navbar-left">
                        <a href="@controllers.routes.BoardController.board" class="navbar-link">Boards</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="@controllers.routine.routes.RoutineController.list" class="navbar-link">Routines</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="@routes.ElementsController.list" class="navbar-link">Elemental</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="@routes.StatusEffectsController.list" class="navbar-link">Status Effects</a>
                    </p>
                </div>

                <ul class="nav navbar-nav">
                    @dropdown("Characters") {
                        <li><a href="@controllers.character.routes.CharacterController.list">Characters</a></li>
                        <li><a href="@controllers.character.routes.ClassController.list">Classes</a></li>
                    }

                    @dropdown("Items") {
                        <li><a href="@controllers.item.routes.EquipmentController.list">Equipments</a></li>
                        <li><a href="@controllers.item.routes.BoostController.list">Boosts</a></li>
                    }

                    @dropdown("Skills") {
                        <li><a href="@controllers.skill.routes.AttackController.list">Attacks</a></li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@routes.MainController.download">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            @html
        </div>

        <footer id="footer" class="footer">
            <div class="container">
                <p class="text-muted"><a href="https://github.com/atomnook/nameless-gem">atomnook/nameless-gem</a></p>
            </div>
        </footer>
    </body>
</html>
