@import controllers.routine.routes.RoutineController
@import protobuf.routine._

@(routine: Routine)

@selectExpressions(id: String, default: String = "") = {
    <select id="@id" class="form-control">
        <option value=""></option>
        @for(expression <- routine.alternatives.map(_.getId) ++ routine.actions.map(_.getId)) {
            <option value="@expression.id" @if(expression.id == default) {selected}>@expression.id</option>
        }
    </select>
}

@remove(id: String, target: String) = {
    <button id="@id" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
    </button>
    <script>
        $('#@id').click(function() {
            $('#@target').remove();
        });
    </script>
}

@Pages.main {
    @Pages.row1 {
        <script>
            expression = function(id) {
                if (id == "") {
                    return null;
                }
                return id;
            }

            alternatives = function() {
                var res = [];
                $('#alternatives tr').each(function() {
                    var id = $(this).find('[id^=alternative-id]').val();
                    var condition = $(this).find('[id^=condition]').val();
                    var satisfied = $(this).find('[id^=satisfied]').val();
                    var otherwise = $(this).find('[id^=alternative-otherwise]').val();
                    if (id != null && id != "") {
                        res.push({
                            'id': id,
                            'condition': condition,
                            'satisfied': expression(satisfied),
                            'otherwise': expression(otherwise)
                        });
                    }
                });
                return res;
            };

            actions = function() {
                var res = [];
                $('#actions tr').each(function() {
                    var id = $(this).find('[id^=action-id]').val();
                    var name = $(this).find('[id^=name]').val();
                    var type = $(this).find('[id^=type]').val();
                    var intersection = $(this).find('[id^=intersection]').val();
                    var otherwise = $(this).find('[id^=action-otherwise]').val();
                    if (id != null && id != "") {
                        res.push({
                            'id': id,
                            'name': name,
                            'type': type,
                            'intersection': intersection,
                            'otherwise': expression(otherwise)
                        });
                    }
                });
                return res;
            };
        </script>
        <h1>@routine.getId.id</h1>
        @Apis.button.delete(RoutineController.delete(routine.getId.id))
        <button id="apply" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Apply
        </button>
        <script>
            $('#apply').click(function() {
                @Apis.post(RoutineController.set) {
                    {
                        'id': '@routine.getId.id',
                        'alternatives': alternatives(),
                        'actions': actions()
                    }
                }
            });
        </script>
    }

    @Pages.row1 {
        <h2>Alternatives</h2>
        <table id="alternatives" class="table table-striped">
            <tr>
                <th>id</th>
                <th>condition</th>
                <th>satisfied</th>
                <th>otherwise</th>
                <th></th>
            </tr>

            @for((alternative, i) <- routine.alternatives.zipWithIndex) {
                <tr id="alternative@i">
                    <th>@Components.text(id = s"alternative-id$i", getter = s"alternativeId${i}Value", default = alternative.getId.id)</th>
                    <th>@Components.enum(id = s"condition$i", getter = s"condition${i}Value", enum = Condition, default = alternative.condition.name)</th>
                    <th>@selectExpressions(id = s"satisfied$i", default = alternative.getSatisfied.id)</th>
                    <th>@selectExpressions(id = s"alternative-otherwise$i", default = alternative.getOtherwise.id)</th>
                    <th>@remove(id = s"alternative-remove$i", target = s"alternative$i")</th>
                </tr>
            }

            <tr id="alternative">
                <th>@Components.text(id = s"alternative-id", getter = s"alternativeIdValue", placeholder = "alternative id")</th>
                <th>@Components.enum(id = s"condition", getter = s"conditionValue", enum = Condition)</th>
                <th>@selectExpressions(id = "satisfied")</th>
                <th>@selectExpressions(id = "alternative-otherwise")</th>
                <th></th>
            </tr>
        </table>
    }

    @Pages.row1 {
        <h2>Actions</h2>
        <table id="actions" class="table table-striped">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>type</th>
                <th>intersection</th>
                <th>otherwise</th>
                <th></th>
            </tr>

            @for((action, i) <- routine.actions.zipWithIndex) {
                <tr id="action@i">
                    <th>@Components.text(id = s"action-id$i", getter = s"actionId${i}Value", default = action.getId.id)</th>
                    <th>@Components.enum(id = s"name$i", getter = s"name${i}Value", enum = protobuf.core.Name, default = action.name.name)</th>
                    <th>@Components.enum(id = s"type$i", getter = s"type${i}Value", enum = ActionType, default = action.`type`.name)</th>
                    <th>@Components.enums(id = s"intersection$i", getter = s"intersection${i}Value", enum = ActionSet, default = action.intersection)</th>
                    <th>@selectExpressions(id = s"action-otherwise$i", default = action.getOtherwise.id)</th>
                    <th>@remove(id = s"action-remove$i", target = s"action$i")</th>
                </tr>
            }

            <tr id="action">
                <th>@Components.text(id = s"action-id", getter = s"actionIdValue", placeholder = "action id")</th>
                <th>@Components.enum(id = s"name", getter = s"nameValue", enum = protobuf.core.Name)</th>
                <th>@Components.enum(id = s"type", getter = s"typeValue", enum = ActionType)</th>
                <th>@Components.enums(id = s"intersection", getter = s"intersectionValue", enum = ActionSet)</th>
                <th>@selectExpressions(id = "action-otherwise")</th>
                <th></th>
            </tr>
        </table>
    }
}
