@import controllers.routine.routes.RoutineController

@(routines: List[protobuf.routine.Routine])

@Pages.main {
    @Pages.row1 {
        <table class="table table-striped">
            <tr>
                <th>id</th>
                <th></th>
            </tr>

            @for(routine <- routines) {
                <tr>
                    <td><a href="@RoutineController.get(routine.getId.id)">@routine.getId.id</a></td>
                    <td></td>
                </tr>
            }

            <tr>
                <td>@Components.text(id = "id", getter = "idValue", placeholder = "routine id")</td>
                <td>
                    @Apis.button.create(RoutineController.set) {
                        {
                            'id': idValue(),
                            'alternatives': [],
                            'actions': []
                        }
                    }
                </td>
            </tr>
        </table>
    }
}
