@(character: protobuf.Character)

@Pages.main {
    @Pages.row1 {
        @table(character :: Nil) {
            <tr>
                <td></td>
                <td>@Components.text(id = "name", getter = "nameValue", placeholder = "character name", default = character.name)</td>
                <td>
                    @Apis.button.update(routes.CharacterController.set) {
                        {
                            'id': '@character.getId.id',
                            'name': nameValue()
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>@Components.text(id = "id", getter = "idValue", placeholder = "character id")</td>
                <td></td>
                <td>
                    @Apis.button.copy(routes.CharacterController.set) {
                        {
                            'id': idValue(),
                            'name': nameValue()
                        }
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Apis.button.delete(routes.CharacterController.delete(character.getId.id))
                </td>
            </tr>
        }
    }
}
