@(characters: List[protobuf.Character])

@Pages.main {
    @Pages.row1 {
        @table(characters) {
            <tr>
                <td>@Components.text(id = "id", getter = "idValue", placeholder = "character id")</td>
                <td>@Components.text(id = "name", getter = "nameValue", placeholder = "character name")</td>
                <td>
                    @Apis.button.create(routes.CharacterController.set) {
                        {
                            'id': idValue(),
                            'name': nameValue()
                        }
                    }
                </td>
            </tr>
        }
    }
}
