@(values: List[protobuf.Character])(html: Html)

<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>routine</th>
        <th></th>
    </tr>

    @html

    @for(value <- values) {
        <tr>
            <td><a href="@routes.CharacterController.get(value.getId.id)">@value.getId.id</a></td>
            <td>@value.name</td>
            <td><a href="@controllers.routine.routes.RoutineController.get(value.getRoutine.id)">@value.getRoutine.id</a></td>
            <td></td>
        </tr>
    }
</table>
