@import controllers.item.routes.EquipmentController

@(equipment: protobuf.item.Equipment)

@Pages.main {
    @Pages.row1 {
        @table(equipment :: Nil) {
            <tr>
                <td></td>
                <td>@Components.number(id = "price", getter = "priceValue", default = equipment.price)</td>
                <td>@Components.number(id = "atk", getter = "atkValue", default = equipment.atk)</td>
                <td>@Components.number(id = "def", getter = "defValue", default = equipment.`def`)</td>
                <td>@Components.number(id = "mat", getter = "matValue", default = equipment.mat)</td>
                <td>@Components.number(id = "mdf", getter = "mdfValue", default = equipment.mdf)</td>
                <td>
                    @Apis.button.update(EquipmentController.set) {
                        {
                            'name': '@equipment.name.name',
                            'price': priceValue(),
                            'atk': atkValue(),
                            'def': defValue(),
                            'mat': matValue(),
                            'mdf': mdfValue()
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>@Components.enum(id = "name", getter = "nameValue", enum = protobuf.core.Name)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Apis.button.copy(EquipmentController.set) {
                        {
                            'name': nameValue(),
                            'price': priceValue(),
                            'atk': atkValue(),
                            'def': defValue(),
                            'mat': matValue(),
                            'mdf': mdfValue()
                        }
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Apis.button.delete(EquipmentController.delete(equipment.name.name))
                </td>
            </tr>
        }
    }
}
