@(equipments: List[protobuf.item.Equipment])

@Pages.main {
    @Pages.row1 {
        @table(equipments) {
            <tr>
                <td>@Components.enum(id = "name", getter = "nameValue", enum = protobuf.core.Name)</td>
                <td>@Components.number(id = "price", getter = "priceValue")</td>
                <td>@Components.number(id = "atk", getter = "atkValue")</td>
                <td>@Components.number(id = "def", getter = "defValue")</td>
                <td>@Components.number(id = "mat", getter = "matValue")</td>
                <td>@Components.number(id = "mdf", getter = "mdfValue")</td>
                <td>
                    @Apis.button.create(controllers.item.routes.EquipmentController.set) {
                        {
                            'name': nameValue(),
                            'price': priceValue(),
                            'atk': atkValue(),
                            'def': defValue(),
                            'mat': matValue(),
                            'mdf': mdfValue()
                        }
                    }
                </td>
            </tr>
        }
    }
}
