@import com.trueaccord.scalapb._

@(id: String, getter: String, enum: GeneratedEnumCompanion[_ <: GeneratedEnum], default: Seq[_ <: GeneratedEnum] = Nil)

<select id="@id" class="form-control" multiple>
    @for(value <- enum.values) {
        <option value="@value.name" @if(default.contains(value)) {selected}>@value.name</option>
    }
</select>

<script>
    @getter = function() {
        var values = $('#@id').val();
        if (values == null) {
            return [];
        }
        return values;
    };
</script>
