@()

@Pages.main {
    @Pages.row1 {
        <button id="play" class="btn btn-success">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Play
        </button>

        <script>
            var uri = 'ws://' + location.host + '@routes.BoardController.play';

            console.log(uri);

            var ws = new WebSocket(uri);

            ws.onmessage = function(event) {
                console.log(event.data);
                if (event && event.data) {
                    var message = JSON.parse(event.data).message;
                    if (message) {
                        $('#log').append(message + '<br/>');
                    }
                }
            }

            ws.onerror = function(event) {
                console.log(event);
            }

            ws.onclose = function(event) {
                console.log(event);
            }

            $('#play').click(function() {
                var friends = {'front': [], 'rear': []};
                var enemies = {'front': [], 'rear': []};
                ws.send(JSON.stringify({'friends': friends, 'enemies': enemies}));
            });
        </script>
    }

    @Pages.row1 {
        <div id="log" class="well"></div>
    }
}
